#primero{
    justify-content: center;
    align-items: center;
    text-align: center;
}
#productos{
    border-radius: 5px;
    border-color: black;
    border: solid black;
    background-color: beige;
    display: flex;
}
.card{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
#servicios{
    justify-content: center;
    align-items: center;
    text-align: center;
}

